<div id="main-view" data-role='page' contextmenu="return false;">
    <link id="sidebarMenu" data-role='view' data-view="../views/sidebar_menu.js">
    <i data-event="click>showInfo" class="info-button icon-info-sign"></i>
    <div id="sidebar-area">
        <link id="sidebarPanel" data-role='view' data-view="../views/sidebar_panel.js">
    </div>
    <div id="main-area">
        <link id="tab" data-role='view' data-view="../views/tab.js">
        <div id="editor-holder"></div>
        <link id="state" data-role='view' data-view="../views/state.js">
        <div id="footer-area">
            <link id="footerMenu" data-role='view' data-view="../views/footer_menu.js">
            <link id="footerPanel" data-role='view' data-view="../views/footer_panel.js">
        </div>
    </div>
    <link id="alert" data-role='view' data-view="../views/alert.js">
    <iframe id='stat_frame' style='display:none'></iframe>
</div>