@font-face {
  font-family: 'Source Code Black';
  src: url('font/SourceCodePro-Black.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Bold';
  src: url('font/SourceCodePro-Bold.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code ExtraLight';
  src: url('font/SourceCodePro-ExtraLight.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Light';
  src: url('font/SourceCodePro-Light.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Medium';
  src: url('font/SourceCodePro-Medium.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Regular';
  src: url('font/SourceCodePro-Regular.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Semibold';
  src: url('font/SourceCodePro-Semibold.otf.woff?v=3.2.1') format('woff');
  font-weight: normal;
  font-style: normal;
}